// Layout Variables
$header-height: 76px;
$site-width: 1200px;
$padding: rem(30);
$main-color: rgb(0, 89, 138);
$body-color: rgb(245, 245, 245);
$emphasis-color: rgb(255, 238, 0);
$emhasis-secondary-color: rgb(104, 104, 104);