@charset "utf-8";

@import 'variables';
@import 'functions';
@import 'mixins';
@import 'calendar';
@import 'body';
@import 'wrapper';
@import 'nav-main';
@import 'footer';
@import 'nav-footer';
@import 'resources';
@import 'students';
@import 'courses';
@import 'staff';
@import 'program-overview';